<form (ngSubmit)="submit()" [formGroup]="petForm" #formDir="ngForm">
  <div class="form-group">
    <label for="title">Título:</label>
    <input
      type="text"
      placeholder="Coloque um título"
      formControlName="title"
      required
    />
    <div *ngIf="title.invalid && formDir.submitted" class="validation-error">
      <p *ngIf="title.errors?.['required']">O título é obrigatório.</p>
    </div>
  </div>
  <div class="form-group">
    <label for="description">Descrição:</label>
    <textarea
      placeholder="Informe o caso, pistas e seu contato."
      formControlName="description"
      required
    ></textarea>
    <div *ngIf="title.invalid && formDir.submitted" class="validation-error">
      <p *ngIf="title.errors?.['required']">A descrição é obrigatório.</p>
    </div>
  </div>
  <div class="form-group">
    <label for="image">Coloque a foto do seu pet:</label>
    <input type="file" (change)="onFileSelected($event)"/>
  </div>
  <input type="submit" value="{{ btnText }}" />
</form>
